@import "tailwindcss"; 


/*
  --spacing = 0.25 rem
  1rem = 4px
*/
html, body, #root { 
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}