@import "tailwindcss"; 


/*
  --spacing = 0.25 rem
  1rem = 4px
*/
:root {
  --color-red: #ff0000;
}
html, body, #root { 
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column; 
}

.errorClass {
  transition: ease-in-out 0.5s;
}

input.errorClass {
  border-color: #ff0000;
}

span.errorClass {
  color: #ff0000;
}
 